 .active {
   background-color: gold;
   color:Black ;
   font-weight:bold;
}
.crousal{
  height: 725px;
}
.registration {
  text-align: center;
  width: 462px;
  margin-left: 327px;
}
.card{
  align-items: center;
  align-content: center;
}
.login{
  width: 462px;
  text-align: center;
  margin-left: 327px;
 
}
.login1{
  text-decoration: underline
}
.submitbutton{
  margin: 20px;
}
.textbox{
  text-align: center;
}
.card{
  border-radius: 48px;
  border: 2px solid black;
}